@import "../../../assets/theme";

@keyframes player-list-item {
  from {
    transform: rotateX(90deg);
  }
  to {
    transform: rotateX(0deg);
  }
}

.player-list-item {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: player-list-item;
  animation-timing-function: linear;
  background-image: linear-gradient(#{$primary} 0%, transparent 50%, transparent 100%);
  border-image-outset: 0 0 0 0;
  border-image-repeat: stretch;
  border-image-source: linear-gradient(#{$primary} 0%, transparent 50%, transparent 100%);
  border-radius: 0 0 0.25em 0.25em;
  border-style: outset;
  border-width: 0 2px 2px 2px;
  box-shadow:
    1px 1px 2px $primary;
  color: #282420;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 0.5rem;
  padding: 0.25em 1em;
  position: relative;
  transform: rotateX(90deg);
  transform-origin: 50% 0%;
  z-index: 0;

  > span {
    position: relative;
  }
}
