@import "../../assets/theme";

.header {
  background-color: $primary-light;
  background-image: linear-gradient(transparent 0%, $background 133%);
  border-color: $primary;
  border-style: solid;
  border-width: 2px 0;
  padding: 0 1em;

  > h1 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 2rem;
    line-height: 1.75em;
    margin: 0;
  }
}
